/* stylesheet */

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}




/* typography */

.hero,
footer {
    color: #f9faf8;
    background-color: #1F2937;
}

.logo {
    color: inherit;
    font-size: 24px;

    font-weight: 900;
}

.nav-link a {
    color: inherit;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
}

.header-txt,
.header-btn {
    font-size: 18px;
    color: #e5e7eb;
}

.header-btn {
    font-weight: bold;
    background-color: #3882f6;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quotee,
.sign-up-title {
    font-weight: 700;
}

.quotee {
    text-align: end;
}

.sign-up-box,
.sign-up-btn {
    color: #f9faf8;
    background-color: #3882f6;
}

.sign-up-btn {
    font-weight: 700;
}

.footer-txt{
    text-align: center;
}




/* layout */

.hero {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 57%; 
    margin: auto;
    padding: 1em 0;
}

.nav-link {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

header {
    display: flex;
    padding: 10px 25rem;
    margin: 100px 0;
    gap: 40px;

}

.header-title,
.header-txt {
    margin-bottom: 10px;
}

.header-btn {
    padding: 3px 20px;
    border: none;
    border-radius: 7px;
}

.header-img {
    width: 800px;
    background-color: #6a6c70;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    padding: 10px 35rem;
}

.info-title {
    margin-block: 50px;
}

.info-list {
    display: flex;
    gap: 43px;
    justify-content: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 6rem 31.5rem;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
}

.sign-up-box {
    display: flex;
    /* padding: 2rem 6rem; */
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.sign-up-txt {
    margin: 2rem 6rem;
}

.sign-up-btn {
    margin: 2rem 6rem;
    padding: .3rem 1.5rem;
    border: 2px solid #f9faf8;
    border-radius: 7px;
}

.footer-txt {
    margin: 2rem 0;
}